# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
.venv/
ENV/
env/
env.bak/

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
local_settings.py
media/
staticfiles/

# VS Code
.vscode/

# Pytest
htmlcov/
.tox/
.coverage
.cache
.pytest_cache/

# Migrations
**/migrations/*.py
**/migrations/*.pyc

# System files
.DS_Store
Thumbs.db
